 <div class="container-fluid pt-4 px-4">
        <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table class="table table-striped">
                  <div class="heade "><h1><b><%= judul %></b></h1></div>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nama</th>
                      <th scope="col">Id_jabatan</th>
                      <th scope="col">tanggal_masuk</th>
                    </tr>
                  <% data.forEach(user => { %>
                    <tr>
                      <th scope="row"><%= user.id %></th>
                      <td><%= user.nama %></td>
                      <td><%= user.id_jabatan %></td>
                      <td><%= user.tanggal_masuk %></td>
                    </tr>
                    <% }) %>
                </table>
              </div>
            </div>
    </div>